<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div>
        <div class="title">
            <i> <h1>Mini Whatsapp</h1></i>
        </div> 
        <div class="hero">
                <h1>Welcome to mini Whatsapp</h1>
                <form method="get" action="/chats">
                    <button>Get Started </button>
                </form>
        </div>
    </div>


</body>
</html>
